/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family: "Inter-Variable", sans-serif;
  --accent-font-family: "PressStart2P-Regular", sans-serif;
  --font-weight: normal;
  --title-font-weight: bold;
  --background-color: #ffffff;
  --accent-color: #000000;
  --background-image: repeating-linear-gradient(
      0deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0px 0.01%, #1a1a1a);
  --mix-color: #ffffff;
  --red-color: rgba(255, 0, 0, 1);
}
